@model AuthorListViewModel

@* ▼ Search box ▼ *@
<section class="top-search-field">

    <form method="get" asp-controller="Author" asp-action="ViewAll">
        <div class="search-container">
            <input type="text" name="search" placeholder="Author Name, About Author" class="search-input">
            <i style="color:#0B5ED7;" class="fas fa-search"></i>
        </div>
    </form>

    <a asp-controller="Author" asp-action="Create" style="margin: 10px;
    width: 140px;
    font-size: 19px; height:40px;" class="btn btn-primary mt-0">Create <i class="fas fa-book icon"></i></a>

</section>


@* ▼ Cards ▼ *@
<section style="padding-top:0px;" class="cards-container">
    <div class="row">


        @foreach (var author in Model.Authors)
        {
            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="@author.ImageUrl" class="card-img-top custom-card-img" alt="Author Image">
                    <div class="card-body custom-card-body">
                        <h4 class="card-title">@author.FullName</h4>
                        <p class="card-text custom-card-text">
                            <strong>Birthyear:</strong> @author.Birthdate<br>
                            <strong>About:</strong> @author.About
                        </p>
                        <div class="custom-card-footer">

                            <a asp-controller="Author" asp-action="View" asp-route-authorId="@author.AuthorId" class="btn btn-primary mt-2">Details</a>




                            <a asp-controller="Author" asp-action="Update" class="btn btn-warning mt-2" data-bs-toggle="modal" data-bs-target="#updateModal" author-id="@author.AuthorId" author-fullname="@author.FullName" author-birthdate="@author.Birthdate" author-about="@author.About" author-image-url="@author.ImageUrl" onclick="loadAuthorDetails(this)"> Update</a>



                            <button asp-controller="Author" asp-action="Delete" asp-route-authorId="@author.AuthorId" class="btn btn-danger mt-2" onclick="confirmDeleteAuthor('@author.AuthorId')">Delete</button>

                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</section>


@* ▼ Update Pop Up Window ▼ *@
<section class="update-popup-section">
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Update Author</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateForm" method="post">





                        <div class="mb-3">
                            <input asp-for="Author.AuthorId" type="hidden" class="form-control" id="authorId">
                        </div>


                        <div class="mb-3">
                            <label for="authorName" class="form-label">Author Name</label>
                            <input asp-for="Author.FullName" class="form-control" id="authorName" />
                        </div>

                        <div class="mb-3">
                            <label for="authorBirthdate" class="form-label">Author Birthdate</label>
                            <input asp-for="Author.Birthdate" class="form-control" id="authorBirthdate" />
                        </div>

                        <div class="mb-3">
                            <label for="authorAbout" class="form-label">About</label>
                            <input asp-for="Author.About" class="form-control" id="authorAbout" />
                        </div>

                        <div class="mb-3">
                            <label for="authorImageUrl" class="form-label">Image Url</label>
                            <input asp-for="Author.ImageUrl" class="form-control" id="authorImageUrl" />
                        </div>

                        <button asp-controller="Author" asp-action="Update" type="submit" class="btn btn-primary">Update</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@* ▼ Pagination ▼ *@
<div class="pagination-container">

    <ul class="pagination">

        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ViewAll", new { page = Model.CurrentPage - 1 })">Previous</a>
            </li>
        }

        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("ViewAll", new { page = i })">@i</a>
            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ViewAll", new { page = Model.CurrentPage + 1 })">Next</a>
            </li>
        }


    </ul>

</div>
